<!DOCTYPE html>
<html>
  <head>
    <title>Eliminar Miembro</title>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css"/>
  </head>
  <body background="/img/fondoBorrar.avif">
    <%- include ('./parcial/cabecera') %>
    <br><br><br><br>
    <button align="left"><a href="/list/members"><img src="/img/volver.webp" width="40" height="40"></a></button>
    <br><br>
    <div class="centro">
    <h1>Eliminar Miembro</h1>
    <% members.forEach(miembros => { %>
    <form method="POST" action="/delete/members">
      <label for="idm">ID miembro</label>
      <br>
      <input 
          type="text"
          id="idm" 
          name="idm"
          required
          value="<%= miembros.ID_miembro %>" 
          readonly
          size="30"
          /><br /><br />
      <label for="username">Usuario</label>
      <br>
      <input
        type="text"
        id="username"
        name="username"
        required
        value="<%= miembros.username %>"
        readonly
        size="30"
      /><br /><br />
      <label for="groupname">Grupo</label>
      <br>
      <input
        type="text"
        id="groupname"
        name="groupname"
        required
        value="<%= miembros.groupname %>"
        readonly
        size="30"
      /><br /><br />
      <label for="fecha">Fecha ingreso</label>
      <br>
      <input
        type="text"
        id="fecha"
        name="fecha"
        required
        value="<%= miembros.Fecha_ingreso.toLocaleDateString() %>"
        readonly
        size="30"
      /><br /><br />
      <button type="submit">
        <img src="/img/delete.png" onmouseover="this.width=50;this.height=50;" onmouseout="this.width=40;this.height=40;" width="40" height="40" alt="">
      </button>
    </form>
  </div>
    <% }); %> <%- include ('./parcial/pie') %>
  </body>
</html>