<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi perfil</title>
  <link href="https://fonts.googleapis.com/css?family=Nobile|Abel|Ranchers" rel="stylesheet">
  <style>
    body {
      background-image: url("/img/FondoWiiThingyEnfocado.png");
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'Arial', sans-serif;
    }
    .centro {
      position: absolute;
      left: 50%;
      top: 49%;
      transform: translate(-50%, -50%);
      height: 380px; /* Altura total con la descripción*/
      width: 500px;
      background-color: #f0f0f0;
      padding: 30px;
      border: 2px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center; /* Centrar el texto dentro del div */
    }
    #nombrecentro {
      font-size: 50px;
      position: relative;
      bottom: 11%;
      font-weight: bold;
    }
    .pie {
      position: absolute;
      bottom: 2px;
      width: 99%;
      text-align: center;
      color: orange;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #cuadrosticky {
      position: sticky;
      top: 2%;
    }
    #banner {
      position: relative;
      left: 29%;
      top: 20%;
      width: 40%;
      height: 32%;
    }
    #logo {
      position: absolute;
      left: 0.1%;
      top: 1%;
      border-style: none;
      background-color: rgba(255, 255, 255, 0);
    }
    /* Estilos para el menú desplegable */
    .dropdown {
      position: fixed;
      top: 3%;
      right: 1%;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      right: 1%;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
    .nombre {
      position: absolute;
      bottom: 70%;
      left: 10%;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .mail {
      position: absolute;
      bottom: 50%;
      left: 10%;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .ubicacion {
      position: absolute;
      bottom: 30%;
      left: 10%;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #nomusu {
      position: absolute;
      bottom: 69%;
      left: 47%;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #mailusu {
      position: absolute;
      bottom: 49%;
      left: 47%;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #ubiusu {
      position: absolute;
      bottom: 30%;
      left: 47%;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #botonact {
      position: absolute;
      bottom: 10%;
      left: 60%;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #botonborrar {
      position: absolute;
      bottom: 10%;
      left: 10%;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>
</head>
<body>
  <div id="cuadrosticky">
    <button align="left" id="logo"><a href="/"><img src="/img/LogoAffinitySolSQRvar.png" width="100px"></a></button>
  </div>
  <form method="post">
  <div class="centro">
    <h1 id="nombrecentro"><u>Mi Perfil</u></h1>
    <% perfil.forEach(user => { %>
        <input id="iduser" hidden value="<%= user.ID_usuario %>"></input>
        <label class="nombre">-&nbsp;<u>Nombre:</u></label>
        <input type="text" value="<%= user.Nombre %>" id="nomusu"></input>
        <label class="mail">-&nbsp;<u>Correo electrónico:</u></label>
        <input type="text" value="<%= user.Mail %>" id="mailusu"></input>
        <label class="ubicacion">-&nbsp;<u>Ubicación:</u></label>
        <input type="text" value="<%= user.Ubicación %>" id="ubiusu"></input>
    <% }); %>
    <button type="submit" id="botonact" onclick="actualizarDatos(event)">Actualizar datos</button>
    <button type="submit" id="botonborrar" onclick="borrarCuenta(event)">Borrar cuenta</button>
  </form>
  </div>
  <%- include ('./parcial/pie') %>
  <div class="dropdown">
    <span><img src="/img/PerfilUsuario.png" width="60px" height="60px" class="dropbtn"></span>
    <div class="dropdown-content">
      <a href="#" onclick="cerrarSesion()">Cerrar sesión</a>
    </div>
  </div>
</body>
<script>
  const userID = sessionStorage.getItem('userID');
  
  function actualizarDatos(event) {
      event.preventDefault();
      console.log(userID);
      const form = document.querySelector('form');
      form.action = "/modif/actdatos";
      form.submit();
  }

  function borrarCuenta(event) {
      event.preventDefault();
      const form = document.querySelector('form');
      form.action = "/borcuenta";
      form.submit();
  }

  function cerrarSesion() {
      sessionStorage.removeItem('userID');
      window.location.href = '/'; // Redirigir a la página de inicio de sesión
  }
</script>
</html>
